<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<div>
    <hr>
    {# a标签，超链接#}
    <a href="/bookadd/" style="text-align: center"><button>图书添加</button></a>
    <hr>

    <hr>
    {# a标签，超链接#}
    <a href="/modbook/" style="text-align: center"><button>修改图书信息</button></a>
    <hr>

    <hr>
    {# a标签，超链接#}
    <a href="/delbook/" style="text-align: center"><button>删除图书</button></a>
    <hr>

        <hr>
    {# a标签，超链接#}
    <a href="/query/" style="text-align: center"><button>查询</button></a>
    <hr>

    <hr>
    {# a标签，超链接#}
    <a href="/borrow/" style="text-align: center"><button>借书</button></a>
    <hr>

    <hr>
    {# a标签，超链接#}
    <a href="/give_back/" style="text-align: center"><button>还书</button></a>
    <hr>

</div>
</body>
</html>
